services: 

  db: 
    image: postgres:14.19-alpine3.21
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=todolist
    ports:
      - 5432:5432

  backend:
    build: ./backend
    ports:
      - 8080:8080
    environment:
      - DB_URL=jdbc:postgresql://db:5432/todolist
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db
    
  frontend: 
    build: ./frontend
    ports:
      - 80:80
    depends_on:
      - backend